.nav__list{
    display: flex;
    align-items: start;
    justify-content: center;
    column-gap: 3.125rem;
    list-style: none;
}

.nav__link{
    text-transform: capitalize;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 600;
}

@media (max-width: 950px){
    .nav__list{
        display: none;
    }
}